body::-webkit-scrollbar {
      display: none;
}
body{
  background-color: black;
}
h1{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: right;
  color:white;
  font-size: 16px;
  position: absolute;
  top: 8px;
  left: 50px;
}
h2{
  font-family:'Oswald', sans-serif;
  color:white;
  position: absolute;
  top: 8px;
  right: 80px;
  font-size: 16px;
}
img{
  height: 100%; 
  width: 100%; 
  object-fit: scale-down;
  position:absolute;
  right:10px;
}

mtitle,genre,rating{
  font-family:  'Source Sans Pro', sans-serif;
  color:white;
  position: absolute;
}
mtitle{
  top: 140px;
  left: 150px;
  font-size: 14px;
  opacity: 0.6;
}
mtitle.text{
  top: 150px;
  left: 150px;
  font-size: 80px;
  opacity: 1;
}
rating{
  top: 400px;
  left: 60px;
  font-size: 14px;
  opacity: 0.6;
}
rating.text{
  top: 420px;
  left: 60px;
  font-size: 14px;
  opacity: 1;
}
genre{
  top: 440px;
  left: 60px;
  font-size: 14px;
  opacity: 0.6;
}

genre.text{
  top: 500px;
  left: 60px;
  font-size: 14px;
  opacity: 1;
}

