@import url('https://fonts.googleapis.com/css?family=Karla:700|Oswald:700|Source+Sans+Pro:600|Ubuntu:700');
body::-webkit-scrollbar {
  display: none;
}
body{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(60deg, #091d28 70%, #4c656c 100%);
}
p.banner{
  text-align: right;
	color:white;
  font-family:  'Ubuntu', sans-serif;
  font-size: 16px;
	line-height: 24px;　　　
  letter-spacing: 3px;
  position: absolute;
  top: 8px;
  left: 180px;
}
p.menu{
  font-family:'Oswald', sans-serif;
  color: white;
  position: absolute;
  top: 10px;
  right: 120px;
  font-size: 12px;
	border-top-style: solid;
  border-bottom-style: solid;
	border-top-color: white;
  border-bottom-color: white;
	padding-top: 8px;
  padding-bottom: 8px;
}
img{
  height: 100%; 
  width: 100%; 
  object-fit: scale-down;
  position:absolute;
	right:0px;
}

#info{
	height: 200px;
	line-height:10px;
  border-left: 8px solid white; 
	padding-left:10px;
	padding-bottom:40px;
  position: absolute;
	left:130px;
	top:420px;
}
p{
  font-family:  'Ubuntu', sans-serif;
  color:white;
	font-size:14px;
	line-height: 20px;　　　
}
p.star{
	font-size:26px;
}
h{
  top: 150px;
	line-height:120px;
  font-family:'Oswald', sans-serif;
  color:white;
  left: 150px;
  font-size: 120px;
}
h.ss{
	opacity:0.5;
}
p.text{
  top: 300px;
  left: 60px;
  opacity: 0.5;
}
d{
  font-family:'Oswald', sans-serif;
  color: white;
	font-size: 30px;
}
#dir{
	transform:rotate(90deg);
  position: absolute;
	left:380px;
	top:480px;
	line-height: 10px;　　　
}
#title{	
  position: absolute;
	left:310px;
	top:100px;
}
button{
	background-color: white;
  border: none;
  color: black;
  padding: 25px 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
	right:300px;
	top:430px;
	font-family:'Ubuntu', sans-serif;
	box-shadow:4px 4px 12px -2px rgba(20%,20%,40%,0.5);
	opacity:0.8;
  .transition(all 0.4s linear);
  
}

.button:hover {
  background-color: #224682;
  color: white;
}
.circle {
  display: block;
  background-image:radial-gradient(closest-corner at 85% 15%, #deb975 0%,#dda440 30%,#db7f15 60%,#ce5f2b 90%,#bd3227 120%,#a82325 160%,#871c2f 200%,#7f0e2e 250%,#071821 350%);
  border-radius: 50%;
  box-shadow: 0px 0px 300px black; 
  height: 300px;
  width: 300px;
  margin: 0;
	position: absolute;
	top: 150px;
	right: 200px;
	animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
	0% { transform: translate(0px,  0px); }
  12%  { transform: translate(60px, 32px); }
  33%   { transform: translate(27px, 12px); }    
  47%  { transform: translate(39px, 60px); }
  69%   { transform: translate(9px, 26px); }    
  100%   { transform: translate(-10px, 32px); }    
}
